/**
 *  Main App Scss.
 */

@import "~bootstrap/scss/bootstrap";

.form-check-input:only-child
{
    position: static;
}

// Header
header.navbar ul.navbar-nav
{
    font-size: 1rem;
    font-weight: 200;
}

// Index SMS tab
.tab-content
{
    padding: 2rem 0;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-width: 0 1px 1px 1px;
}

// Overrides
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show
{
    background-color: #f9f9f9;
    border-color: #ddd #ddd #f9f9f9;
}

// Register page
#register-form
{
    .parent-of-form-control 
    {
        @extend .mb-2;
        & > div
        {
            ul
            {
                display: none;
            }
            &:first-child
            {
                margin-bottom: 1rem;
            }

            & > input
            {     
                @extend .form-control;
            }
        }
    }
}